@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px){
    * {
        margin: 0px;
        padding: 0px;
    }

    main {
        margin: 10px;
    }

    p {
        text-indent: 10px;
        line-height: 1.7rem;
        word-spacing: 2px;
    }

    legend{
        text-align: left;
        margin: 10px;
    }

    input {
        width: 40vh;
        height: 4vh;
        margin: 10px;
        padding: 5px;
        text-align: left;
    }

    header {
        margin-top: 40px;
    }

    header > h3 {
        margin-bottom: 20px;
    }

    header > p {
        text-align: center;
    } 
    button{
        width: 145px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        border: none;
        color: var(--cor5);
        font-size: 20px;
    }

    .notinf {
        height: 70vh;
        
    }

    .not-infant {
        padding: 10px;
        
    }

    .not-infant > a {
        text-decoration: none;
        margin-right: 70px;
        background-color: var(--cor4);
        color: var(--cor5);
        padding: 10px;
        border-radius: 15px 15px;
        width: 90px;
        float: right;
        margin-right: 100px;
        margin-top: 20px;
    }
    #info {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3px;
    }

    .info-ad1, .info-ad2{
        padding: 10px;
    }

    .not-idosos1 > h1, .not-infant > h2{
        padding: 30px;
    }
    .not-idosos1 > h1, .not-infant > h2, .notinf > h1{
        margin-bottom: 20px;
        text-align: center;
    }

    .buttons {
        margin-top: 10px;
        margin-bottom: 20px;
        word-spacing: 35px;
    }

    .calcu {
        text-align: center;
    }

    .info-ad2 {
        margin-top: 10px;
    }

    .info-ad {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .not-idosos1 {
        margin-top: 100px;
    }

    .calcu, h3{
        text-align: center;
    }
    .not-idosos1 > h1{
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }


    .cont-inf-ad > h1 {
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
        padding: 20px;
    }
    .cont-inf-ad > p {
        word-spacing: 5px;
    }

    .notinf > h2 {
        text-align: justify;
        margin: 10px;
        margin-top: 10px;
    }

    ul {
        text-align: justify;
        margin-left: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 30vh;
        margin-top: 30px;
    }

    .not-infant > p, .notinf > p, .not-idosos1 > p, .cont-inf-ad > p{
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
        text-indent: 15px;
    }

    .lista-abd{
        background-color: var(--cor5);
        margin-top: 0px;
        margin-left: 80px;
        text-align: justify;
        line-height: 1.8rem;
        word-spacing: 2px;
        border-radius: 20px 0px 20px 0px;
        padding: 30px;
        height: 20vh;
        width: 60vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.394);
    }

    footer > p {
        margin-top: 90px;
        display: flex;
        float: right;
        margin-right: 100px;
    }

    footer {
        text-align: center;
    }

    a > img {
        width: 8vh;
        height: 10vh;
        margin-top: 25px;
        
    }
}

